<h1><%= @task.title %></h1>
<%= link_to "Edit this task", edit_task_path %>

<p><%= @task.details %></p>

  <% if  @task.completed == true %>
     ☑︎ This task is completed
  <% else %>
     ☐ This task is not completed.
  <% end %>

<%= link_to "Back to the list of tasks", tasks_path %>
